#items {
  display: flex;
  flex-direction: row;
  align-items: top;
  /* background-color: red; */
}

.library {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 33.3%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 2.5px;
  margin: 2%;
  padding: 10px;
  font-size: 18px;
  /* background-color: red; */
}

.displayedNote {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 66.7%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 2.5px;
  margin: 2%;
  padding: 10px;
  /* background-color: blue; */
}

.displayedNote button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin: 2px;
}

textarea {
  width: 500px;
  min-height: 100px;
  padding: 8px;
  font-size: 18px;
  resize: none;
  border: solid 1px;
  border-radius: 3px;
  outline: none;
}
